@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

body, html {
    height: 100%;
	font-family: 'Karla', sans-serif !important;
}

/* NAVBAR */

.navbar-brand {
	font-weight: 900;
}

/* HERO */
	
header {
	height: 100%;
	min-height: 100%;
	background-image: url("../images/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header .row {
	background-color: rgba(0, 0, 0, 0.6);
}

/* #header-box {
	border-left: 3px solid yellow;
}*/

#header-box h1 {
	letter-spacing: 2px;
}

#header-box a, #header-box a:visited {
	color: white !important;
	background-image: linear-gradient(to right, yellow, yellow);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 0 2px;
	transition: background-size .5s ease;
	text-decoration: none !important;
}

#header-box a:hover {
	background-size: 100% 2px;
}

/* SECTIONS */

section {
	/*padding: 5rem 0;*/
	padding-top: 5rem;
}

#experience {
	padding-bottom: 5rem;
}

section h2 {
	text-transform: uppercase;
}

#about h2:before {
	content:'👨‍💻 ';
}

#experience h2:before {
	content:'💻 ';
}

#open-source h2:before {
	content:'💻 ';
}

/* ABOUT-ME ICONS */
#about .fa-telegram-plane {
	color: #0088CC;
}

#about .fa-linkedin {
	color: #0e76a8;
}

#about .fa-envelope {
	color: #9e9e9e;
}

#about .fa-github-square {
	color: #333;
}

/* FOOTER */
footer {
	padding: 1rem 0;
}

footer #bootstrap {
	color: white !important;
	background-image: linear-gradient(to right, yellow, yellow);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	text-decoration: none !important;
}

/* GENERAL */

.bg-black {
	background-color: #1a1a1a !important;
}

.realgios {
	width: 128px;
	height: 128px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 3px solid white;
}

a {
	color: black !important;
	text-decoration: underline !important;
}

a:hover {
	text-decoration: none !important;
}

/* TIMELINE */
ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #1a1a1a;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
