@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');

body, html {
  height: 100%;
  font-family: 'Red Hat Mono', monospace !important;
}

.bg-light {
  background-image: url('../images/map.svg');
}

.bg-dark {
  background-image: url('../images/map-dark.svg');
  background-color: rgba(38,38,38,1);
}

main {
  height: 100%;
	min-height: 100%;
}

main h1 {
  letter-spacing: 5px;
}

nav a {
  text-decoration: none;
}

/* .a #e11b35 */

nav a:hover {
  text-decoration: underline;
}
