body {
		font-family: 'Anonymous Pro', monospace;
		color: #000000;
		padding: 50px 50px 50px 50px;
		text-align: center;
	}
	.imgios {
		font-size: 4vw;
	}
	
	.underline {
		text-decoration: none;
		background-image: linear-gradient(to right, #E84118, #E84118);
		background-position: bottom left;
		background-repeat: no-repeat;
		background-size: 50% 2px;
		transition: background-size .5s ease;
	}
	.underline:hover {
		background-size: 100% 2px;
	}