@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	background-color: #F9F9F9;
}

::-moz-selection { /* Firefox */
  color: #F9F9F9;
  background: #65C9FF;
}

::selection {
  color: #F9F9F9;
  background: #65C9FF;
}

a:link {
  color: #65C9FF;
}

a:visited {
  color: #65C9FF;
}

a:hover {
  color: #0095E6;
}

a:active {
  color: #0095E6;
} 

.mainbox {
	width: 100%;
	/*margin-top: 10%;*/
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.avatar {
	max-width: 18%;
	height: auto;
}

.imgios {
	font-size: 4vw;
}

.summary {
	font-size: 2vw;
}

.socials {
	font-size: 2vw;
}
	
.underline {
	text-decoration: none;
	background-image: linear-gradient(to right, #65C9FF, #65C9FF);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 50% 5px;
	transition: background-size .5s ease;
}

.underline:hover {
	background-size: 100% 5px;
}
